//Variable
$lighttealcolor: #CBE8E9;
$maintealcolor: #1f5b5d;
$whitecolor: #ffffff;
$lightshadow: #808080;
$footerfont: Arial, sans-serif;
$globalfont: 'Poppins', sans-serif;
$headerfont: 'Chilanka', sans-serif;

//Styles

@media screen and (min-width: 800px) {
    html {
        width: 50%;
        margin: auto;
    }
}

body {
    background: $maintealcolor;
    color: $maintealcolor;
    font-family: $globalfont;
    
}

div.headerdiv {
    height: 70px;
    
}

/* Icons */
.fa-arrow-left {
    display: inline;
    margin-top: 0;
    margin-left: 2vw;
    width: 50px;
    height: 50px;
    color: $whitecolor;
}

.fa-sign-out {
    display: inline;
    margin-top: 0;
    margin-left: 2vw;
    width: 50px;
    height: 50px;
    color: $whitecolor;
}

.fa-check {
    display: inline;
    margin-top: 0;
    margin-left: 2vw;
    width: 50px;
    height: 50px;
    color: $whitecolor;
}

.fa-plus {
    display: block;
    margin: 25%;
    color: $maintealcolor;
}

.fa-plus.update {
    float: right;
    margin: 2% auto;
}

.headerp {
    width: 200px;
    color: $whitecolor;
    font-family: $globalfont;
    font-size: 2em;
    line-height: 90%;
    display: inline-block;
    text-align: center;
    margin: 1vw auto;
}

#titleimg {
   display: block;
   margin: 0 auto;
   max-width: 75%;
}

#booksimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    max-width: 75%;
}

.formbox {
    margin: 2vw auto;
    height: 60vh;
    width: 90%;
    background: $lighttealcolor;
    /*box-shadow: 5px 5px $lightshadow;*/
    
}

.formboxh1 {
    font-size: 1.5em;
    text-align: center;
    font-variant: small-caps;
}

.formboxp {
    border: 1px solid $maintealcolor;
    background: $whitecolor;
    padding: 2px;
    width: 90%;
    margin: 5% auto;
}

.formboxp2 {
    /*border: 2px solid $whitecolor;*/
    background: $maintealcolor;
    color: $whitecolor;
    text-align: center;
    margin: 3em auto;
    padding: 1em;
    font-size: .75em;
    width: 75%;
}

.formboxp3 {
    font-size: .7em;
    text-align: center;
}

.studentbox {
    margin: auto;
    background: $maintealcolor;
    width: 90%;
    height: 60vh;
}

.studentplaceholder {
    background: $whitecolor;
    float: left;
    width: 44%;
    line-height: 3%;
    margin: 2%;
    padding: 1%;
}

.studentbox img {
    width: 100%;
}

.studentname {
    text-align: left;
    font-size: .85em;
}

.studentgrade {
    float: left;
    font-size: .75em;    
}

.studentgpa {
    float: right;
    font-size: .75em;    
}

.tab {
    width: 90%;
    margin: 5% auto;
    padding: 3%;
    background: $lighttealcolor;
}

.gradetitle {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}

.chaptertitle {
    font-size: 1em;
    padding: 0;
    margin: 0;
}


.tab2 {
    width: 85%;
    margin: 2% auto;
    padding: 3%;
    background: $whitecolor;
    border: 1px solid $maintealcolor;
    font-size: .9em;
}

.tabname {
    font-size: 1.2em;
    margin: 0 auto;

}

#addstudentbutton {
    display: block;
    text-align: center;
    margin: auto;
}

#studentadd {
    font-size: .7em;
    text-align: center;
}

.lgbuttons {
    display: block;
    margin: auto;
    background: $lighttealcolor;
    color: $maintealcolor;
    font-variant: small-caps;
    font-size: 35px;
    width: 250px;
    height: 75px;
}

.button {
   text-align: center;
   padding: .4em;
   
}

.thinbutton {
    display: block;
    margin: 8% auto;
    background: $lighttealcolor;
    color: $maintealcolor;
    font-variant: small-caps;
    font-size: 35px;
    height: 50px;
    width: 250px;
    text-align: center;
}

a {
    color: inherit;
    text-decoration: none;
}

#thanks {
    width: 50%;
    margin: auto;
    text-align: center;
    color: $whitecolor;
    font-size: 1.2em;
}

.studentspecific {
    font-size: .85em;
    color: $whitecolor;
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: lighter;
    
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-style: small-caps;
    font-size: .75em;
    color: $whitecolor;
}